* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

#keret {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
    margin-bottom: 1em;
}

#linkek {
    display: flex;
    justify-content: space-between;
}

h1,
h3 {
    margin-bottom: 1em;
}

ul {
    list-style-position: inside;
}

.kiemel {
    color: red;
    font-weight: bold;
}

.kerdesek,
.feladatok {
    border: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.kerdes {
    color: green;
    font-weight: bold;
}

.rejtett {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.kerdes-mondat,
.kerdes-sql {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.elso {
    color: red;
}

.masodik {
    color: blue;
}

.harmadik {
    color: green;
}

button {
    background-color: green;
    border: none;
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

code {
    color: green;
    font-weight: bold;
}

.sql {
    color: #770088;
}

.kepek {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2em;
    width: 60%;
}

img {
    width: auto;
    /* object-fit: contain; */
    height: auto;
}

@media screen and (max-width: 1000px) {
    .kepek {
        grid-template-columns: 100%;
        width: 95%;
    }

    img {
        max-height: 550px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .kepek {
        grid-template-columns: 100%;
        width: 95%;
    }

    img {
        max-height: 550px;
        height: auto;
    }
}
